body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  /*
  Consigna:
  Asignar la propiedad que corresponda para que los ítems dentro de container se posicionen horizontalmente en orden inverso.
  */

  /*FLEXBOX: 
    El contenedor debe indicar que es flexible con la
    propiedad: display: flex;

    Para manejar direction: flex-direction: row, column, row-reverse y column-reverse
    Para manejar espacios horizontalmente: justify-content
    Para manejar espacios verticalmente: align-items
    */


  .container{
    width: 80%;
    max-width: 640px;
    min-height: 500px;  
    margin: 10% 25%;
    background-color: #d3d3d3;
    display: flex;
  }

  .container-row{
    flex-direction: row;
    /*row para x positivo, row-reverse para x negativo
    column para y positivo, column-reverse para y negativo*/
    justify-content: center;
    align-items: center;
  }

  .container-rowreverse{
    flex-direction: row-reverse;
  }

  .container-column{
    flex-direction: column;
  }

  .container-columnreverse{
    flex-direction: column-reverse;
  }
  
  .item{
    width: 100px;
    max-height: 100px;
    line-height: 100px;
    color: white;
    border-radius: 10px;
    margin: 5px;
    background-color: #bc3b69;
  }
  
  